@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* mouse */
html {
    cursor: none;
}

body:hover > #trailer {
    opacity: 1;
}
  
#trailer {
    height: 15px;
    width: 15px;
    background-color: rgba(255, 255, 255, 0);
    border: rgba(255, 255, 255, 0.5) solid 3px;
    border-radius: 15px;
    
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
    
    display: grid;
    place-items: center;
} 
/* mouse */

body {
    margin: 0;
    padding: 0;
    background-color: #00021e;
    font-family: 'Merriweather', serif;
    overflow-x: hidden;
}

nav {
    padding: 100px;
}

.landingContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.navbox {
    display: flex;
    align-items: center;
    height: 200px;
    position: absolute;
}

.navli  {
    color: white;
    list-style: none;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
    padding-left: 50px;
    padding-right: 50px;
    transition: ease .3s;
}

.nav1 {
    transform: translateX(250%);
}
.nav2 {
    transform: translateX(100%);
    padding-right: 400px;
}
.nav3 {
    transform: translateX(-100%);
}
.nav4 {
    transform: translateX(-200%);
}

.navtoggle {
    transform: translateX(0);
    opacity: 1;
    transition: ease .3s;
}


.profileImg {
    width: 200px;
    height: 200PX;
    object-fit: cover;
    border-radius: 100%;
    border: 1PX solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(150deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.05) 100%);
    transition: ease .2s;
}

.img {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.glowicon {
    box-shadow: 0px 0px 40px 30px rgba(18, 1, 47, 0.5);
    transition: ease .2s;
}

.outerimg {
    position: absolute;
    border: 1PX solid rgba(255, 255, 255, 0.1);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    animation: animate 1s infinite alternate-reverse;
}

@keyframes animate {
    100% {
        transform: scale(1.1);
    }
    0% {
        transition: ease-in-out 1s;
        transform: scale(1.05);
    }
}

colors {
    color: #00021e
}