@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #252c35;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

nav {
    height: 100vh;
    display: grid;
    place-content: center;
}

.landingContainer {
    display: flex;
    justify-content: center;
}

.navbox {
    display: flex;
    align-items: center;
    height: 200px;
    position: absolute;
}

.navli  {
    color: white;
    list-style: none;
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
    padding-left: 50px;
    padding-right: 50px;
    transition: ease .3s;
}

a:hover {
    color: #b9b9b9;
    transition: ease .3s;
}

.nav1 {
    transform: translateX(250%);
}
.nav2 {
    transform: translateX(100%);
    padding-right: 400px;
}
.nav3 {
    transform: translateX(-100%);
}
.nav4 {
    transform: translateX(-200%);
}

.navtoggle {
    transform: translateX(0);
    opacity: 1;
    transition: ease .3s;
}


.profileImg {
    width: 200px;
    height: 200PX;
    object-fit: cover;
    border-radius: 100%;
    border: 1PX solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(150deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.05) 100%);
    transition: ease .2s;
    position: relative;
    cursor: pointer;
}

.img {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.glowicon {
    box-shadow: 0px 0px 40px 30px rgba(255, 255, 255, 0.25);
    transition: ease .2s;
}

.outerimg {
    position: absolute;
    border: 1PX solid rgba(255, 255, 255, 0.1);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    animation: animate 1s infinite alternate-reverse;
}

@keyframes animate {
    100% {
        transform: scale(1.1);
    }
    0% {
        transition: ease-in-out 1s;
        transform: scale(1.05);
    }
}

a {
    text-decoration: none;
    color: white;
    transition: ease .3s;
}

/* about section */
section {
    height: 100vh;
    width: 100%;
    display: grid;
    place-content: center;
}

h1 {
    color: white;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    font-weight: 500;
    font-size: 3rem;
}

.aboutspan, .abouth1 {
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    font-size: 12rem;
}

.aboutsection {
    padding: 100px;
}

.grey {
    transition: ease .3s;
    color: #1a1f25;
}
.grey:hover {
    color: #fff;
    transition: ease .3s;
}

.aboutbox {
    width: 400px;
    height: 400px;
    color: white;
    background: linear-gradient(150deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.05) 100%);
    border: 1PX solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* portfolio */
#portfolio {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.portcard {
    transition: ease .3s;
    cursor: pointer;
    box-shadow: -40px 0px 30px -20px rgba(0, 0, 0, .6);
    background-color: #252c35;
}

.portcard:hover {
    transform: rotate(7deg) translateX(-15%);
    transition: ease .3s;
}

.portbox {
    display: inline-flex;
    position: relative;
    width: 1060px;
}

.box2 {
    position: absolute;
    left: 200px;
}
.box3 {
    position: absolute;
    left: 400px;
}
.box4 {
    position: absolute;
    left: 600px;
}
.filler {
    position: absolute;
    left: 950px;
    width: 150px;
    height: 500px;
    background-color: #252c35;
    box-shadow: -60px -35px 40px -30px rgba(0, 0, 0, 0.5);
}
.box5 {
    position: absolute;
    left: 950px;
    width: 150px;
    height: 600px;
    bottom: -100px;
    background-color: #252c35;
}

.portheader {
    margin-right: 120px;
}

.portimg {
    width: 300px;
    height: 150px;
    opacity: .5;
    transition: ease .3s;
    object-fit: contain;
}

.portimg:hover {
    opacity: 1;
    transition: ease .3s;
}

.portspan {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}