@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #F5E7D9;
    font-family: 'Merriweather', serif;
}

.landingContainer {
    height: 100vh;
    display: grid;
    place-content: center;
}

.profileImg {
    width: 500px;
    border-radius: 100%;
    border: rgba(222, 168, 144, .5) solid 15px;
}


colors {
    color: #353A47
    #F5E7D9
    #E2E7AA
    #d69d85
}